# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Exclude GitHub Actions-related files from published asset, except the GitHub
# Pages workflow which learners may find useful to publish their modified game.
/.github/**                           export-ignore
/.github/workflows                   !export-ignore
/.github/workflows/**                 export-ignore
/.github/workflows/githuh-pages.yml  !export-ignore
/asset-template.json.hb               export-ignore

# Exclude artwork sources
/asset-sources            export-ignore

# Substitute project version when publishing
/project.godot            export-subst
